@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");
@import "./Catppuccin.css";
@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

body::-webkit-scrollbar {
  width: 3px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--ctp-mocha-rosewater);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--ctp-mocha-overlay0);
}

#paper {
  padding: 6em;
}

body {
  background-color: var(--ctp-mocha-base);
  color: var(--ctp-mocha-text);
  font-size: 1.5em;
  font-family: "Philosopher", serif;
  line-height: 1.3;
  overflow: auto;
  top: 50%;
  left: 50%;
}

figure {
  text-align: center;
  filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.7));
}

h1 {
  font-family: "Mate SC";
  font-weight: lighter;
  font-size: 3em;
  color: var(--ctp-mocha-mauve);
}

hr {
  color: blue;
}

h5 {
  font-family: "Mate SC";
  text-align: right;
  color: var(--ctp-mocha-green);
}

/* The navigation bar */
.nav {
  overflow: hidden;
  background-color: var(--ctp-mocha-base);
  position: fixed; /* Set the navbar to fixed position */
  top: 2em;
  left: 2em;
  width: 2.3em; /* Full width */
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 240ms ease-in-out;
  box-shadow: inset 10px 10px 15px rgba(0, 0, 0, 0.4),
            inset -3px -3px 15px rgba(255, 255, 255, 0.1);
}

.nav:hover {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.6),
            -3px -3px 15px rgba(255, 255, 255, 0.4);
}

/* Links inside the navbar */
.nav a {
  color: #f2f2f2;
  text-align: center;
  padding: 15px 20px;
  transition: all 240ms ease-in-out;
  text-decoration: none;
}

/* Change background on mouse-over */
.nav a:hover {
  background-color: var(--ctp-mocha-green);
  color: black;
}